.user {
  display: flex;
  position: relative;

  &Chevron {
    margin-left: 6px;
    transition: transform 0.25s;
  }

  &ChevronOpen {
    transform: rotate(180deg);
  }

  &Menu {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 31px;
    left: -67px;
    padding: 11px 0 11px 8px;
    width: 134px;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -5px;
      right: 40px;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #ffffff transparent;
    }

    & li {
      color: black;
      list-style: none;
    }

    & li:hover {
      color: #0067a3;
      cursor: pointer;
    }

    & li:not(:last-child) {
      padding-bottom: 12px;
    }
  }

  &Avatar {
    border-radius: 50%;
  }

  &Button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .user {
    padding: 10px 0;

    &Menu {
      top: 39px;
      left: -66px;
    }

    &Avatar {
      order: -1;
    }

    &Chevron {
      margin-left: 6px;
    }
  }
}
